.node-red/flows_fluorine.json
[{"id":"85e70aa5.e41e7","type":"tab","label":"Conversions","disabled":false,"info":""},{"id":"7b300eeb.eca0e","type":"tab","label":"Measurements","disabled":false,"info":""},{"id":"626d549.df8ba2c","type":"tab","label":"VSCP Filter","disabled":false,"info":""},{"id":"d1c3d552.c0a7b","type":"tab","label":"Measurement filter","disabled":false,"info":""},{"id":"570af397.c5c104","type":"tab","label":"counter","disabled":false,"info":""},{"id":"5f847c11.bd3ef4","type":"vscp2can","z":"85e70aa5.e41e7","name":"","x":320,"y":420,"wires":[["abae2436.9249f"]]},{"id":"3f71cf71.2667c","type":"can2vscp","z":"85e70aa5.e41e7","name":"","x":300,"y":60,"wires":[["d5af1583.cf22"]]},{"id":"db6b2bba.96329","type":"inject","z":"85e70aa5.e41e7","name":"CAN msg [..]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1C0A062A#11223344","payloadType":"str","x":110,"y":20,"wires":[["3f71cf71.2667c"]]},{"id":"d5af1583.cf22","type":"debug","z":"85e70aa5.e41e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":200,"wires":[]},{"id":"740073f2.bc2394","type":"inject","z":"85e70aa5.e41e7","name":"JSON array","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[11,22,33,44,55],\"vscpTimeStamp\":3456}","payloadType":"json","x":130,"y":420,"wires":[["5f847c11.bd3ef4"]]},{"id":"abae2436.9249f","type":"debug","z":"85e70aa5.e41e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":420,"wires":[]},{"id":"a94a0896.8bbfe","type":"inject","z":"85e70aa5.e41e7","name":"JSON [...]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"canid\":470418986,\"ext\":true,\"data\":[11,22,33,44],\"dlc\":4}","payloadType":"json","x":100,"y":120,"wires":[["3f71cf71.2667c"]]},{"id":"e5ef3119.9eb6d","type":"inject","z":"85e70aa5.e41e7","name":"JSON str","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"canid\":470418986,\"ext\":true,\"data\":\"99,88,77,66\",\"dlc\":4}","payloadType":"json","x":100,"y":160,"wires":[["3f71cf71.2667c"]]},{"id":"a24011ba.02c308","type":"inject","z":"85e70aa5.e41e7","name":"CAN msg null","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1C0A062A#","payloadType":"str","x":110,"y":60,"wires":[["3f71cf71.2667c"]]},{"id":"a3d3adbe.1ffa78","type":"inject","z":"85e70aa5.e41e7","name":"JSON null","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"canid\":470418986,\"ext\":true,\"data\":null,\"dlc\":4}","payloadType":"json","x":100,"y":200,"wires":[["3f71cf71.2667c"]]},{"id":"6c346126.bfba58","type":"inject","z":"85e70aa5.e41e7","name":"String","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0,20,3,,2001-11-02T18:00:01,,-,0,1,35","payloadType":"str","x":150,"y":500,"wires":[["5f847c11.bd3ef4"]]},{"id":"7df9ce7e.b5cc98","type":"inject","z":"85e70aa5.e41e7","name":"JSON str","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":\"100,200,99\",\"vscpTimeStamp\":3456}","payloadType":"json","x":140,"y":460,"wires":[["5f847c11.bd3ef4"]]},{"id":"84a31eaf.5f1f98","type":"event2value","z":"7b300eeb.eca0e","name":"event2value measurement","btransparent":true,"btopayload":false,"bvalue2payload":false,"x":760,"y":180,"wires":[["4ff276ee.97a71"]]},{"id":"7e415e1.56527a","type":"inject","z":"7b300eeb.eca0e","name":"694600","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[136,2,27,34],\"vscpTimeStamp\":3456}","payloadType":"json","x":90,"y":420,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"4ff276ee.97a71","type":"debug","z":"7b300eeb.eca0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":180,"wires":[]},{"id":"c9b2da1e.87f7c8","type":"inject","z":"626d549.df8ba2c","name":"Class=10, Type=6. GUID","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":99,\"vscpClass\":10,\"vscpType\":6,\"vscpGuid\":\"FF:FF:FF:FF:FF:FF:FF:FE:B8:27:EB:40:59:96:00:01\",\"vscpData\":[89,82,11,22]}","payloadType":"json","x":130,"y":340,"wires":[["d7d08b74.94a0f"]]},{"id":"d7d08b74.94a0f","type":"vscpfilter","z":"626d549.df8ba2c","vscppriority":"","vscpclass":"10","vscptype":"6","vscpguid":"FF:FF:FF:FF:FF:FF:FF:FE:B8:27:EB:40:59:22","name":"Wrong GUID","x":370,"y":340,"wires":[["de88c83f.407a98"]]},{"id":"de88c83f.407a98","type":"debug","z":"626d549.df8ba2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":340,"wires":[]},{"id":"ffd0f467.4a8028","type":"inject","z":"7b300eeb.eca0e","name":"Bits","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[0,170,170],\"vscpTimeStamp\":3456}","payloadType":"json","x":90,"y":100,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"45d576da.8c5bc8","type":"inject","z":"7b300eeb.eca0e","name":"[ 2, 27, 34 ]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[32,2,27,34],\"vscpTimeStamp\":3456}","payloadType":"json","x":100,"y":180,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"de16eff7.222bc8","type":"comment","z":"7b300eeb.eca0e","name":"Datacoding: bits","info":"","x":120,"y":60,"wires":[]},{"id":"263e95d3.b51262","type":"comment","z":"7b300eeb.eca0e","name":"Datacoding: normalized","info":"","x":140,"y":380,"wires":[]},{"id":"d23145ae.c5d3c8","type":"comment","z":"7b300eeb.eca0e","name":"Datacoding: bytes","info":"","x":130,"y":140,"wires":[]},{"id":"e741f244.14599","type":"event2value","z":"7b300eeb.eca0e","name":"event2value value2payload","btransparent":false,"bvalue2payload":true,"x":760,"y":220,"wires":[["99e055cc.8a09f"]]},{"id":"99e055cc.8a09f","type":"debug","z":"7b300eeb.eca0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":220,"wires":[]},{"id":"75932ee4.0cc","type":"comment","z":"7b300eeb.eca0e","name":"Datacoding: String","info":"","x":130,"y":220,"wires":[]},{"id":"cae750d6.c92f7","type":"inject","z":"7b300eeb.eca0e","name":"10.8","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[64,49,48,46,56],\"vscpTimeStamp\":3456}","payloadType":"json","x":90,"y":260,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"365000b6.de23f8","type":"comment","z":"7b300eeb.eca0e","name":"Datacoding: String","info":"","x":130,"y":300,"wires":[]},{"id":"9ca74a6b.309478","type":"inject","z":"7b300eeb.eca0e","name":"21930","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[96,85,170],\"vscpTimeStamp\":3456}","payloadType":"json","x":90,"y":340,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"a758fa62.29154","type":"comment","z":"7b300eeb.eca0e","name":"Datacoding: normalized","info":"","x":140,"y":460,"wires":[]},{"id":"ed7a4873.78a3d8","type":"inject","z":"7b300eeb.eca0e","name":"-0.00115","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[136,133,141],\"vscpTimeStamp\":3456}","payloadType":"json","x":100,"y":500,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"f2bc8e83.dd627","type":"comment","z":"7b300eeb.eca0e","name":"Datacoding: normalized","info":"","x":140,"y":540,"wires":[]},{"id":"6efae03e.af699","type":"inject","z":"7b300eeb.eca0e","name":"-1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[136,0,255,255,255,255,255,255],\"vscpTimeStamp\":3456}","payloadType":"json","x":90,"y":580,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"f125be4.f922cc","type":"comment","z":"7b300eeb.eca0e","name":"Datacoding: float","info":"","x":120,"y":620,"wires":[]},{"id":"bc6d3d2.1ba574","type":"inject","z":"7b300eeb.eca0e","name":"9.909819","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[160,65,30,142,158],\"vscpTimeStamp\":3456}","payloadType":"json","x":100,"y":660,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"cd4709b3.26c138","type":"comment","z":"7b300eeb.eca0e","name":"CLASS1.MEASUREMENT64 - 60","info":"","x":150,"y":720,"wires":[]},{"id":"3f1c53d2.56f914","type":"inject","z":"7b300eeb.eca0e","name":"124.372","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":60,\"vscpType\":6,\"vscpData\":[64,95,23,206,217,22,135,43],\"vscpTimeStamp\":3456}","payloadType":"json","x":100,"y":760,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"49e25db8.62c234","type":"comment","z":"7b300eeb.eca0e","name":"CLASS1.MEASUREMENT -  10","info":"","x":170,"y":20,"wires":[]},{"id":"7e44e793.f847e8","type":"comment","z":"7b300eeb.eca0e","name":"CLASS1.MEASUREZONE - 65","info":"","x":150,"y":820,"wires":[]},{"id":"c605e90e.2954d","type":"inject","z":"7b300eeb.eca0e","name":"-0.00115","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":65,\"vscpType\":6,\"vscpData\":[0,1,2,136,133,141],\"vscpTimeStamp\":3456}","payloadType":"json","x":100,"y":860,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"8a60bc5c.66f788","type":"comment","z":"7b300eeb.eca0e","name":"CLASS1.MEASUREMENT32 - 70","info":"","x":150,"y":920,"wires":[]},{"id":"b182aca1.0f67b8","type":"inject","z":"7b300eeb.eca0e","name":"9.909819","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[160,65,30,142,158],\"vscpTimeStamp\":3456}","payloadType":"json","x":100,"y":960,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"82a6fb82.4bc948","type":"comment","z":"7b300eeb.eca0e","name":"CLASS1.SETVALUEZONE - 85","info":"","x":150,"y":1020,"wires":[]},{"id":"6c7b0931.9aacf8","type":"inject","z":"7b300eeb.eca0e","name":"10.8","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":85,\"vscpType\":6,\"vscpData\":[0,1,2,64,49,48,46,56],\"vscpTimeStamp\":3456}","payloadType":"json","x":90,"y":1060,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"e5de87c1.258218","type":"comment","z":"7b300eeb.eca0e","name":"CLASS2.MEASUREMENT_STR - 1040","info":"","x":170,"y":1120,"wires":[]},{"id":"dc5b3f00.6357a8","type":"inject","z":"7b300eeb.eca0e","name":"1234567.89","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":1040,\"vscpType\":6,\"vscpData\":[0,1,2,0,49,50,51,52,53,54,55,46,56,57],\"vscpTimeStamp\":3456}","payloadType":"json","x":110,"y":1160,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"3fadc9e0.37934e","type":"comment","z":"7b300eeb.eca0e","name":"CLASS2.MEASUREMENT_FLOAT - 1060","info":"","x":180,"y":1220,"wires":[]},{"id":"e2fdd13f.4eb138","type":"inject","z":"7b300eeb.eca0e","name":"-876.12","props":[{"p":"payload","v":"{\"vscpHead\":80,\"vscpClass\":1060,\"vscpType\":6,\"vscpData\":[0,1,2,0,192,139,96,245,194,143,92,41],\"vscpTimeStamp\":3456}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":1060,\"vscpType\":6,\"vscpData\":[0,1,2,0,192,139,96,245,194,143,92,41],\"vscpTimeStamp\":3456}","payloadType":"json","x":90,"y":1260,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"18611e30.ee5c72","type":"inject","z":"626d549.df8ba2c","name":"Class=10, Type=6. GUID","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":99,\"vscpClass\":10,\"vscpType\":6,\"vscpGuid\":\"FF:FF:FF:FF:FF:FF:FF:FE:B8:27:EB:40:59:96:00:01\",\"vscpData\":[89,82,11,22]}","payloadType":"json","x":150,"y":40,"wires":[["4a415d02.42b414"]]},{"id":"4a415d02.42b414","type":"vscpfilter","z":"626d549.df8ba2c","vscppriority":"","vscpclass":"10","vscptype":"6","vscpguid":"FF:FF:FF:FF:FF:FF:FF:FE:B8:27:EB:40:59:96:00:01","name":"OK","x":350,"y":40,"wires":[["7ab80d27.70eaec"]]},{"id":"7ab80d27.70eaec","type":"debug","z":"626d549.df8ba2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":40,"wires":[]},{"id":"83126039.5380a8","type":"inject","z":"626d549.df8ba2c","name":"Class=10, Type=6. GUID","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":99,\"vscpClass\":10,\"vscpType\":6,\"vscpGuid\":\"FF:FF:FF:FF:FF:FF:FF:FE:B8:27:EB:40:59:96:00:01\",\"vscpData\":[89,82,11,22]}","payloadType":"json","x":150,"y":80,"wires":[["61372360.4ca734"]]},{"id":"61372360.4ca734","type":"vscpfilter","z":"626d549.df8ba2c","vscppriority":"","vscpclass":"","vscptype":"6","vscpguid":"FF:FF:FF:FF:FF:FF:FF:FE:B8:27:EB:40:59:96:00:01","name":"OK","x":350,"y":80,"wires":[["ffc898be.75f838"]]},{"id":"ffc898be.75f838","type":"debug","z":"626d549.df8ba2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":80,"wires":[]},{"id":"ba958285.7e3e5","type":"inject","z":"626d549.df8ba2c","name":"Class=10, Type=6. GUID","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":99,\"vscpClass\":10,\"vscpType\":6,\"vscpGuid\":\"FF:FF:FF:FF:FF:FF:FF:FE:B8:27:EB:40:59:96:00:01\",\"vscpData\":[89,82,11,22]}","payloadType":"json","x":150,"y":120,"wires":[["c9592dc.6233dd"]]},{"id":"c9592dc.6233dd","type":"vscpfilter","z":"626d549.df8ba2c","vscppriority":"","vscpclass":"","vscptype":"","vscpguid":"FF:FF:FF:FF:FF:FF:FF:FE:B8:27:EB:40:59:96:00:01","name":"OK","x":350,"y":120,"wires":[["2468fbb5.5e02fc"]]},{"id":"2468fbb5.5e02fc","type":"debug","z":"626d549.df8ba2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":120,"wires":[]},{"id":"bd0802dd.0e684","type":"inject","z":"626d549.df8ba2c","name":"Priority 2 < 3","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":64,\"vscpClass\":10,\"vscpType\":6,\"vscpGuid\":\"FF:FF:FF:FF:FF:FF:FF:FE:B8:27:EB:40:59:96:00:01\",\"vscpData\":[89,82,11,22]}","payloadType":"json","x":110,"y":180,"wires":[["d065d373.f7fcf"]]},{"id":"d065d373.f7fcf","type":"vscpfilter","z":"626d549.df8ba2c","vscppriority":"3","vscpclass":"10","vscptype":"6","vscpguid":"FF:FF:FF:FF:FF:FF:FF:FE:B8:27","name":"OK","x":350,"y":180,"wires":[["8aac50e5.e278a"]]},{"id":"8aac50e5.e278a","type":"debug","z":"626d549.df8ba2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":180,"wires":[]},{"id":"cef1fd2e.06cb7","type":"inject","z":"626d549.df8ba2c","name":"Priority 3 == 3","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":96,\"vscpClass\":10,\"vscpType\":6,\"vscpGuid\":\"FF:FF:FF:FF:FF:FF:FF:FE:B8:27:EB:40:59:96:00:01\",\"vscpData\":[89,82,11,22]}","payloadType":"json","x":110,"y":220,"wires":[["b9e0a9fe.df4158"]]},{"id":"b9e0a9fe.df4158","type":"vscpfilter","z":"626d549.df8ba2c","vscppriority":"3","vscpclass":"10","vscptype":"6","vscpguid":"FF:FF:FF:FF:FF:FF:FF:FE:B8:27","name":"OK","x":350,"y":220,"wires":[["5249891d.58ed28"]]},{"id":"5249891d.58ed28","type":"debug","z":"626d549.df8ba2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":220,"wires":[]},{"id":"1a4ad408.be355c","type":"inject","z":"626d549.df8ba2c","name":"Priority 4 > 3","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":128,\"vscpClass\":10,\"vscpType\":6,\"vscpGuid\":\"FF:FF:FF:FF:FF:FF:FF:FE:B8:27:EB:40:59:96:00:01\",\"vscpData\":[89,82,11,22]}","payloadType":"json","x":110,"y":260,"wires":[["45241771.04a44"]]},{"id":"45241771.04a44","type":"vscpfilter","z":"626d549.df8ba2c","vscppriority":"3","vscpclass":"10","vscptype":"6","vscpguid":"FF:FF:FF:FF:FF:FF:FF:FE:B8:27","name":"Priority to low","x":380,"y":260,"wires":[["30dfdfd6.6d5ad"]]},{"id":"30dfdfd6.6d5ad","type":"debug","z":"626d549.df8ba2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":260,"wires":[]},{"id":"a8bbfc7f.c1cb68","type":"m-filter","z":"d1c3d552.c0a7b","unit":"","sensorindex":"","index":"","zone":"","subzone":"","name":"All","x":430,"y":60,"wires":[["e463d3f1.cc4bb"]]},{"id":"e446df66.3d1fd8","type":"inject","z":"d1c3d552.c0a7b","name":"-0.00115","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[136,133,141],\"vscpTimeStamp\":3456}","payloadType":"json","x":100,"y":60,"wires":[["66ab8a4.5db6274"]]},{"id":"66ab8a4.5db6274","type":"event2value","z":"d1c3d552.c0a7b","name":"","btransparent":0,"bvalue2payload":0,"x":270,"y":60,"wires":[["a8bbfc7f.c1cb68"]]},{"id":"e463d3f1.cc4bb","type":"debug","z":"d1c3d552.c0a7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":60,"wires":[]},{"id":"43dd203c.2aa68","type":"m-filter","z":"d1c3d552.c0a7b","unit":"1","sensorindex":"","index":"","zone":"","subzone":"","name":"UNIT == 1","x":450,"y":120,"wires":[["fde614ac.eabf2"]]},{"id":"ee7bd1bd.30c7e8","type":"inject","z":"d1c3d552.c0a7b","name":"unit=1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[136,133,141],\"vscpTimeStamp\":3456}","payloadType":"json","x":90,"y":120,"wires":[["ce87fbab.715048"]]},{"id":"ce87fbab.715048","type":"event2value","z":"d1c3d552.c0a7b","name":"","btransparent":0,"bvalue2payload":0,"x":270,"y":120,"wires":[["43dd203c.2aa68"]]},{"id":"fde614ac.eabf2","type":"debug","z":"d1c3d552.c0a7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":120,"wires":[]},{"id":"21ac5e2b.c3941a","type":"inject","z":"d1c3d552.c0a7b","name":"unit=3","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":152,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[152,133,141],\"vscpTimeStamp\":3456}","payloadType":"json","x":90,"y":160,"wires":[["ce87fbab.715048"]]},{"id":"5d2d290c.031fc","type":"inject","z":"d1c3d552.c0a7b","name":"unit=0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":128,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[128,133,141],\"vscpTimeStamp\":3456}","payloadType":"json","x":90,"y":200,"wires":[["ce87fbab.715048"]]},{"id":"7428dc50.73dddc","type":"m-filter","z":"d1c3d552.c0a7b","unit":"","sensorindex":"3","index":"","zone":"","subzone":"","name":"SENSORINDEX == 3","x":560,"y":280,"wires":[["4d8a03bd.f03794"]]},{"id":"9f785052.56a9d8","type":"inject","z":"d1c3d552.c0a7b","name":"sensorindex=3","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[131,133,141],\"vscpTimeStamp\":3456}","payloadType":"json","x":120,"y":280,"wires":[["43ce9fd1.b4cf48"]]},{"id":"43ce9fd1.b4cf48","type":"event2value","z":"d1c3d552.c0a7b","name":"","btransparent":0,"bvalue2payload":0,"x":330,"y":280,"wires":[["7428dc50.73dddc"]]},{"id":"4d8a03bd.f03794","type":"debug","z":"d1c3d552.c0a7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":280,"wires":[]},{"id":"8b3c0279.ca2de8","type":"inject","z":"d1c3d552.c0a7b","name":"sensorindex=1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":10,\"vscpType\":6,\"vscpData\":[137,133,141],\"vscpTimeStamp\":3456}","payloadType":"json","x":120,"y":320,"wires":[["43ce9fd1.b4cf48"]]},{"id":"65905eee.938c1","type":"m-filter","z":"d1c3d552.c0a7b","unit":"","sensorindex":"44","index":"","zone":"","subzone":"","name":"INDEX == 44","x":530,"y":380,"wires":[["13ea4ce9.e78c5b"]]},{"id":"a929aed3.749038","type":"inject","z":"d1c3d552.c0a7b","name":"sensorindex=44","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":1060,\"vscpType\":6,\"vscpData\":[44,1,2,0,192,139,96,245,194,143,92,41],\"vscpTimeStamp\":3456}","payloadType":"json","x":120,"y":380,"wires":[["b68451bb.00412"]]},{"id":"b68451bb.00412","type":"event2value","z":"d1c3d552.c0a7b","name":"","btransparent":0,"bvalue2payload":0,"x":330,"y":380,"wires":[["65905eee.938c1"]]},{"id":"13ea4ce9.e78c5b","type":"debug","z":"d1c3d552.c0a7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":380,"wires":[]},{"id":"37cf89a8.e8dd1e","type":"inject","z":"d1c3d552.c0a7b","name":"sensorindex=0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":1060,\"vscpType\":6,\"vscpData\":[0,1,2,0,192,139,96,245,194,143,92,41],\"vscpTimeStamp\":3456}","payloadType":"json","x":120,"y":420,"wires":[["b68451bb.00412"]]},{"id":"e8655341.39302","type":"m-filter","z":"d1c3d552.c0a7b","unit":"","sensorindex":"","index":"","zone":"11","subzone":"","name":"ZONE == 11","x":530,"y":480,"wires":[["7b5a790a.506da"]]},{"id":"78be8e30.55d4f","type":"inject","z":"d1c3d552.c0a7b","name":"zone=11","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":1060,\"vscpType\":6,\"vscpData\":[44,11,2,0,192,139,96,245,194,143,92,41],\"vscpTimeStamp\":3456}","payloadType":"json","x":100,"y":480,"wires":[["eea4b532.70bef"]]},{"id":"eea4b532.70bef","type":"event2value","z":"d1c3d552.c0a7b","name":"","btransparent":0,"bvalue2payload":0,"x":330,"y":480,"wires":[["e8655341.39302"]]},{"id":"7b5a790a.506da","type":"debug","z":"d1c3d552.c0a7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":480,"wires":[]},{"id":"3d931d0.f6896e4","type":"inject","z":"d1c3d552.c0a7b","name":"zone=1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":1060,\"vscpType\":6,\"vscpData\":[0,1,2,0,192,139,96,245,194,143,92,41],\"vscpTimeStamp\":3456}","payloadType":"json","x":90,"y":520,"wires":[["eea4b532.70bef"]]},{"id":"e64823d.b54e56","type":"m-filter","z":"d1c3d552.c0a7b","unit":"","sensorindex":"","index":"","zone":"","subzone":"22","name":"SUBZONE == 22","x":550,"y":580,"wires":[["d92a869e.48ef"]]},{"id":"1152ae00.f3769a","type":"inject","z":"d1c3d552.c0a7b","name":"subzone=22","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":1060,\"vscpType\":6,\"vscpData\":[44,1,22,0,192,139,96,245,194,143,92,41],\"vscpTimeStamp\":3456}","payloadType":"json","x":110,"y":580,"wires":[["e88bd5c4.51ae9"]]},{"id":"e88bd5c4.51ae9","type":"event2value","z":"d1c3d552.c0a7b","name":"","btransparent":0,"bvalue2payload":0,"x":330,"y":580,"wires":[["e64823d.b54e56"]]},{"id":"d92a869e.48ef","type":"debug","z":"d1c3d552.c0a7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":580,"wires":[]},{"id":"cc1b1793.e2197","type":"inject","z":"d1c3d552.c0a7b","name":"subzone=2","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":1060,\"vscpType\":6,\"vscpData\":[0,1,2,0,192,139,96,245,194,143,92,41],\"vscpTimeStamp\":3456}","payloadType":"json","x":100,"y":620,"wires":[["e88bd5c4.51ae9"]]},{"id":"2f29d721697b3510","type":"inject","z":"7b300eeb.eca0e","name":"Non measurement","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vscpHead\":80,\"vscpClass\":1,\"vscpType\":2,\"vscpData\":[0,1,2,0,192,139,96,245,194,143,92,41],\"vscpTimeStamp\":3456}","payloadType":"json","x":670,"y":520,"wires":[["84a31eaf.5f1f98","e741f244.14599"]]},{"id":"f9762afea9ea66e2","type":"inject","z":"85e70aa5.e41e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":640,"wires":[["99f1a86135a77f4e"]]},{"id":"99f1a86135a77f4e","type":"function","z":"85e70aa5.e41e7","name":"","func":"// Save wind direction\nwinddir = 167;\n\n// Set event data\nsensorindex = 0;\nzone = 0;\nsubzone = 0;\nunit = 1;   // Degrees\n\ndata = [sensorindex,zone,subzone,unit];\ndata = data.concat(winddir.toString().split('')); \ndata = data.concat([0]);      \n\n// Create event\ne = new nodeVscp.Event({\n    vscpHead: nodeVscp.priority.PRIORITY_NORMAL,\n    vscpClass: nodeVscpClass.VSCP_CLASS2_MEASUREMENT_STR,\n    vscpType: nodeVscpType.VSCP_TYPE_MEASUREMENT_ANGLE,\n    vscpGuid: \"25:00:00:00:00:00:00:00:00:00:00:00:05:00:01:05\",\n    vscpsizeData: data.length,\n    vscpData: data\n});\n\n// This is a dumb node sending this event\ne.setDumbNode();\n\n\nmsg.payload = e.toJSONObj();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":640,"wires":[["b9934ae0d6b5e49c"]]},{"id":"b9934ae0d6b5e49c","type":"event2value","z":"85e70aa5.e41e7","name":"","btransparent":false,"btopayload":true,"bvalue2payload":false,"x":470,"y":640,"wires":[["f6ad1c34a1366f9f"]]},{"id":"f6ad1c34a1366f9f","type":"debug","z":"85e70aa5.e41e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":640,"wires":[]}]